@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/*------- NavBar Section Starts Here -----------*/

.nav {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  padding: 10px 90px !important;
  background-color: #fff !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
  z-index: 1 !important;
  top: 0 !important;
  width: 1346.65px !important;
  margin-bottom: 50px !important;
  position: sticky !important;
}
.nav .logo img {
  border-radius: 50%;
  width: 48px;
  height: 49px;
}
.nav .line {
  border: 1px solid #ccc;
}
.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin-top: 15px;
}
.nav-links ul li {
  margin-right: 20px;
  font-size: 16px;
}
.nav-links ul li a {
  text-decoration: none;
  color: rgb(98, 118, 177);
}
.buttons button {
  padding: 10px 30px;
  border: 0;
  background-color: rgb(133, 147, 187);
  color: #fff;
  border-radius: 30px;
  margin-right: 10px;
}
.buttons button a{
  color: #fff;
  text-decoration: none;
}
.buttons button:hover{
  background-color: rgb(21, 66, 104);
  transition: 0.5s;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*------- SideBar Section Starts Here -----------*/

.container .sidebar {
  text-align: center;
}
.sidebar h1 {
  font-size: 35px;
  font-weight: 300;
  margin-top: 20px;
}
.sidebar img {
  width: 350px;
}

/*------- Content Section Starts Here -----------*/

.container .content {
  margin: 0 40px 0 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1800px;
  height: 800px;
}
.content img {
  width: 500px;
}
.container .content p {
  text-align: center;
  margin-top: 20px;
}
.container .content h1 {
  margin-top: 20px;
  font-weight: 300;
}
.container .content button {
  padding: 10px 30px;
  background-color: #fff;
  color: black;
  border-radius: 30px;
  margin-top: 30px;
  border: 1px solid #000;
}

/*------- Big Card Section Starts Here -----------*/

.big-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 30px 0 30px;
}
.big-card img {
  width: 400px;
}
.card-content {
  width: 500px;
  margin-left: 30px;
  text-align: center;
}
.card-content h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 10px 0 10px 0;
}
.card-content p {
  font-size: 17px;
}

/*------- Phone Section Starts Here -----------*/

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.phone img {
  width: 500px;
}
.phone-content {
  width: 600px;
}
.phone-content h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.font-4 {
  font-size: 35px;
  margin-bottom: 40px;
}
.phone-content p {
  font-size: 28px;
}
.crousal-card img{
  width: 400px;
}
.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}
.contact {
  text-align: center;
  width: 400px;
}
.contact h1{
  font-size: 35px;
  font-weight: 300;
  margin-top: 20px;
}
.crousal-card h1 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 20px;
}
.crousal-card .font-4 {
  font-size: 16px !important;
  margin-bottom: 10px !important;
}
.crousal-card {
  display: flex;
  align-items: center;
}
.class img {
  width: 400px;
}
.contact img{
  width: 400px;
}
.classdesc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1400px;
  height: 700px;
}
.classdesc .img-of-desc img {
  width: 500px;
}
.desc-container {
  margin-top: 500px;
}
.classdesc .desc-content {
  width: 700px;
}
.desc-content h1 {
  font-size: 60px;
  font-weight: 300;
}
.desc-content p {
  font-size: 19px;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, auto);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.services-child {
  width: 350px;
  text-align: center;
  padding: 10px;
  margin: 30px;
  border: 1px solid #ccc;
}
.services-child h1 {
  font-size: 36px;
  font-weight: 300;
}
.heading h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 500;
}
.plan {
  display: flex;
  align-items: center;
  justify-content: center;
}
.plan-side h1 {
  font-size: 36px;
  font-weight: 300;
  margin-left: -40px;
  margin-top: -50px;
}
.plan-side-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.plan-side-row .plan-child {
  width: 600px;
  margin-left: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}
.plan-side-row h1 {
  font-size: 37px;
  font-weight: 300;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1346.65px;
  background-color: rgb(98, 118, 177);
  color: #fff;
  padding: 10px 30px;
}
.footer-sides h1 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 40px;
  font-weight: 300;
}
.footer-sides p {
  font-size: 14px;
}
.fa-brands {
  font-size: 30px;
  margin-right: 10px;
}
