@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

/*------- NavBar Section Starts Here -----------*/

.nav {
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    padding: 10px 90px !important;
    background-color: rgb(104, 104, 255) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) !important;
    z-index: 1 !important;
    top: 0 !important;
    width: 1346.65px !important;
    margin-bottom: 50px !important;
    position: sticky !important;
    color: #000;
    font-family: 'Poppins', sans-serif;
    margin-top: -10px;
    border-bottom-right-radius: 100px;
}

#name {
    font-size: 26px;
    font-weight: 300;
}

#e {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ffffff; */
    padding: 10px;
}

#e .fa-solid {
    border: 1px solid #fff;
    font-size: 23px;
    margin-right: 10px;
    margin-top: -5px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    color: #fff;
}

#e .fa-solid::after {
    content: ' ';
    right: 0;
    top: 0;
    background-color: #6ab04c;
    border-radius: 50%;
    position: absolute;
    width: 10px;
    height: 10px;
}

.nav .logo h1 {
    margin-top: 5px;
    font-size: 34px;
    font-weight: 500;
    color: #D6E4E5;
}

.nav .line {
    border: 1px solid #ccc;
}

.nav-links ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-top: 15px;
    margin-left: -30px;
}

.nav-links ul li {
    margin-right: 20px;
    font-size: 16px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #EFF5F5;
}

.buttons button {
    padding: 10px 30px;
    border: 0;
    border: 1px solid #EFF5F5;
    margin-right: 10px;
    font-size: 15px;
    background-color: transparent;
    border-radius: 3px;
}

.buttons button a {
    color: #EFF5F5;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    /* background-color: rgba(100, 139, 172, 0.233); */
    width: 100%;
    background-size: 100% 100%;
}

/*------- SideBar Section Starts Here -----------*/

.container .sidebar {
    text-align: center;
    margin-top: 70px;
}

.sidebar h1 {
    font-size: 35px;
    font-weight: 300;
    margin-top: 20px;
}

.sidebar img {
    width: 350px;
    /* height: 350px; */
}

.con2 {
    margin-top: -5px;
}

.con2 .content h1 {
    width: 600px;
    text-align: center;
    font-size: 30px;
    /* margin-top: 50px; */
}

.con2 .content {
    margin-top: 70px;
}

.con2 .sidebar {
    margin-top: -80px;
}

.con2 .content img {
    border-radius: 0px;
    width: 600px;
    margin-bottom: 10px;
}

/*------- Content Section Starts Here -----------*/

.container .content {
    margin: 0 -580px 0 -580px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 1800px;
    height: 800px;
}

.content img {
    width: 600px;
}

.container .content p {
    text-align: center;
    margin-top: 5px;
    width: 500px;
}

.container .content h1 {
    margin-top: 5px;
    font-weight: 300;
}

.container .content button {
    padding: 10px 30px;
    background-color: transparent;
    color: black;
    border-radius: 30px;
    margin-top: 10px;
    border: 1px solid #000;
}

/*------- Big Card Section Starts Here -----------*/

.big-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 30px 0 30px;
}

.big-card img {
    width: 400px;
}

.card-content {
    width: 500px;
    margin-left: 30px;
    text-align: center;
}

.card-content h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 10px 0 10px 0;
}

.card-content p {
    font-size: 17px;
}

/*------- Phone Section Starts Here -----------*/

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    /* background-color: rgba(155, 173, 223, 0.445); */
    padding: 40px 30px;
}

.phone img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.phone-content {
    width: 600px;
}

.phone-content h1 {
    font-size: 37px;
    font-weight: 400;
    margin-bottom: 20px;
    position: relative;
}

.font-4 {
    font-size: 20px;
    /* margin-bottom: 40px; */
}

.phone-content p {
    font-size: 20px;
}

.crousal-card img {
    width: 400px;
    border-radius: 30px;
}

.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 30px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .4); */
    background-color: #fff;
    margin-bottom: -100px;
    padding: 10px;
    z-index: 1;
    /* margin-top: 10px; */
}

.tes-col button {
    padding: 10px 30px;
    margin-left: 30px;
    border: none;
    outline: none;
    background-color: #6868ff;
    border-radius: 20px;
    color: #fff;
}

.testimonials {
    padding: 40px 0;
    background-color: #ffffff;
    color: #434344;
    text-align: center;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    /* z-index: 1; */
}

.testimonials img {
    width: 500px;
    margin-top: 40px;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 30px;
}

.testimonials h1 {
    font-size: 30px;
}

.inner .name {
    font-size: 38px;
    margin-left: 30px;
    color: #6868ff;
}

.inner p {
    margin-left: 30px;
}

.border {
    width: 160px;
    height: 5px;
    background-color: #6868ff;
    margin: 20px auto;
}

.classdesc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1400px;
    height: 500px;
    background-color: rgb(104, 104, 255);
    color: #fff;
    margin-top: 180px;
    /* margin-bottom: 30px; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
}

.main {
    width: 100%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
    /* border-radius: 30px; */
    margin-bottom: 30px;
    margin-top: -190px;
}
.buttons button:hover{
    background-color: #6868ff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .4);
    color: #fff;
    transition: .3s;
}
.classdesc .img-of-desc img {
    width: 500px;
    /* border-radius: 30px; */
}

.desc-container {
    margin-top: 500px;
}

.classdesc .desc-content {
    width: 530px;
    margin-right: 30px;
}

.desc-content h1 {
    font-size: 45px;
    font-weight: 300;
}

.desc-content p {
    font-size: 19px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, auto);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.price-head {
    text-align: center;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 300;
}

.services-child {
    width: 330px;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border: 1px solid rgb(21, 66, 104);
    cursor: pointer;
}

.services-child:hover {
    background-color: #c3c3ff79;
    transition: 0.4s;
}

.services-child p {
    font-size: 14px;
}

.services-child h1 {
    font-size: 31px;
    font-weight: 300;
}

.heading h1 {
    text-align: center;
    font-size: 46px;
    font-weight: 300;
}

.plan {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 250px;
    margin-top: 40px;
    /* background-color: #ccc; */
    margin-bottom: 70px;
}

.plan-side h1 {
    font-size: 36px;
    font-weight: 300;
    margin-right: 20px;
    position: absolute;
    left: 0;
    top: 0;
    right: 2rem;
}

.plan-side h1::before {
    content: '  ';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: #EB6440;
}

.plan-side-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

.icon .fa-solid {
    font-size: 20px;
    display: none;
}

.plan-side-row .plan-child {
    width: 600px;
    margin-left: 40px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin-bottom: 20px;
}

.plan-child:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.plan-side-row h1 {
    font-size: 37px;
    font-weight: 300;
    position: relative;
}

.plan-side-row h1::before {
    content: '  ';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: #EB6440;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.basiclevel {
    width: 400px;
    text-align: center;
    /* padding: 10px 30px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    height: 580px;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
}

.fa-circle-xmark {
    color: #EB6440 !important;
    margin-right: 20px;
}

.intermediatelevel {
    width: 400px;
    transition: 1s;
    text-align: center;
    /* padding: 10px 30px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    height: 580px;
    border-radius: 30px;
    cursor: pointer;
    transform: translateY(-10%);
}

.advancelevel {
    width: 400px;
    text-align: center;
    /* padding: 10px 30px; */
    transition: 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    height: 580px;
    border-radius: 30px;
    cursor: pointer;
}

.basiclevel:hover {
    transform: translateY(-30%);
}

.intermediatelevel:hover {
    transform: translateY(20%);
}

.advancelevel:hover {
    transform: translateY(-30%);
}

.level {
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    width: 100%;
    background-color: #6868ff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
}

.price {
    position: relative;
    height: 130px;
    border-bottom: 1px solid #6868ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.price h1 {
    font-size: 50px;
    color: #434344;
    font-weight: 300;
}

.time {
    position: absolute;
    left: 0;
    bottom: 27px;
    background-color: #6868ff;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.usd {
    position: absolute;
    right: 0;
    bottom: 27px;
    background-color: #6868ff;
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.work h1 {
    border-bottom: 1px solid #6868ff;
    padding: 10px;
    font-size: 23px;
    font-weight: 300;
    background-color: #6868ffd2;
    color: #fff;
}

.work ol {
    list-style: none;
    text-align: left;
}

.work .fa-circle-check {
    font-size: 15px;
    color: #6ab04c;
    margin-right: 20px;
}

.work ol li {
    font-size: 15px;
    margin-left: 10px;
}

.work button {
    padding: 10px 30px;
    border: 0;
    outline: none;
    background-color: #6868ff;
    border-radius: 10px;
    color: #fff;
}

.work p {
    font-size: 14px;
    width: 300px;
    margin-left: 50px;
}




/********************************* Footer Section Starts Here****************************/

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: rgb(104, 104, 255) !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Poppins';
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 100px;
    margin-top: 100px;
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-container .sec {
    margin-right: 30px;
}

footer .footer-container .aboutus {
    width: 40%;
}

footer h2 {
    position: relative;
    color: #D6E4E5;
    font-weight: 500;
    margin-bottom: 15px;
}

.phone-cont {
    background-color: rgb(104, 104, 255);
    /* padding: 10px; */
    color: #fff;
    height: 410px;
}

footer h2::before {
    content: ' ';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: rgb(255, 139, 139);
}

footer .footer-container .aboutus p {
    color: #EFF5F5;
}

footer .sci {
    margin-top: 20px;
    display: flex;
    margin-left: -30px;
}

footer .sci li {
    list-style-type: none;
}

footer .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #EFF5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

footer .sci li a .fa-brands {
    /* color: #497174; */
    font-size: 20px;
}

footer .quickLinks {
    position: relative;
    width: 25%;
}

footer .quickLinks ul {
    margin-left: -30px;
}

footer .quickLinks ul li {
    list-style-type: none;
}

footer .quickLinks ul li a {
    color: #EFF5F5;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .quickLinks ul li a:hover {
    color: #fff;
}

footer .contacting {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

footer .contacting .info {
    position: relative;
    margin-left: -30px;
}

footer .contacting .info li {
    display: flex;
    margin-bottom: 16px;
}

footer .contacting .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

footer .contacting .info li span {
    color: #EFF5F5;
}

footer .contacting .info li span a {
    color: #EFF5F5;
    text-decoration: none;
}

footer .contacting .info li span a:hover {
    color: #fff;
}

footer .heading {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

.heading {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

.show {
    display: flex;
    flex-direction: row;
    color: #fff;
}

@media (max-width:700px) {
    .nav {
        width: 378px !important;
        justify-content: center !important;
        flex-wrap: nowrap !important;
        padding: 0 !important;
    }

    .nav-links {
        display: none;
    }

    #e {
        display: none;
    }

    .nav h1 {
        font-size: 27px !important;
        margin-left: -90px;
    }

    .icon .fa-solid {
        display: block;
        margin-left: 70px;
        margin-right: -50px;
    }

    #cross {
        display: none;
    }

    .container {
        flex-direction: column !important;
    }

    .sidebar img {
        width: 285px;
        margin-left: -30px;
        margin-top: 40px;
    }

    .sidebar h1 {
        font-size: 35px;
        font-weight: 300;
        margin-top: 20px;
        margin-right: 37px;
    }

    p {
        margin-top: 0;
        margin-bottom: -10rem;
        font-size: 14px;
        margin-left: -20px;
        width: 306px;
    }

    .content img {
        width: 301px;
        margin-left: -22px;
    }

    .container .content p {
        text-align: center;
        margin-top: 5px;

        width: 282px;
    }

    .container .content h1 {
        margin-top: 23px;
        font-weight: 500;
    }

    .content {
        margin-top: -500px;
    }

    .sidebar {
        margin-bottom: -200px;
    }

    .top-side {
        margin-top: -170px !important;
        margin-left: 10px;
        /* z-index: 1; */
    }

    .con2 {
        margin-top: 300px;
    }

    .con2 .content img {
        border-radius: 0px;
        width: 296px;
        margin-bottom: 10px;
        margin-top: 174px;
    }

    .con2 .content h1 {
        margin-top: 4px;
        font-weight: 500;
        width: 349px;
        margin-right: 10px;
    }

    .con2 .content {
        margin-bottom: 40px;
    }

    .phone {
        margin-top: 200px;
        flex-direction: column;
        height: 656px !important;
    }

    .phone-content {
        width: 600px;
        margin-left: 298px;
    }

    .phone-content p {
        margin-left: 4px;
        font-size: 20px;
    }

    .testimonial-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
        background-color: #fff;
        /* margin-bottom: 10px; */
        padding: 10px;
        margin-top: -10px;
    }

    .phone img {
        width: 307px;
        margin-left: -30px;
    }

    .phone-cont {
        background-color: rgb(104, 104, 255);
        /* padding: 10px; */
        color: #fff;
        height: 610px;
    }

    .inner h1 {
        font-size: 24px;
    }

    .testimonials img {
        width: 316px;
        margin-left: -20px;
    }

    .classdesc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column !important;
        width: 1400px;
        height: 519px;
        background-color: #497174;
        color: #fff;
        margin-top: -9px;
        /* margin-bottom: 30px; */
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
    }

    .classdesc .img-of-desc img {
        width: 331px;
        border-radius: -35px;
        margin-left: -678px;
    }

    .desc-content h1 {
        margin-left: -398px;
        font-size: 40px;
        font-weight: 300;
    }

    .desc-content p {
        font-size: 14px;
        margin-left: -391px;
        width: 333px;
        text-align: center;
    }

    .inner {
        max-width: 1464px;
        margin: auto;
        overflow: hidden;
        padding: 0 33px;
        margin-left: 30px;
    }

    .services-child {
        width: 400px;
        text-align: center;
        padding: 27px;
        margin: 30px;
        border: 1px solid rgb(21, 66, 104);
    }

    .plan-side-row .plan-child {
        width: 303px;
        margin-left: 40px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        padding: 31px;
        margin-bottom: 20px;
    }

    .plan-side-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: -291px;
    }

    .plan-side h1 {
        font-size: 36px;
        font-weight: 300;
        margin-right: 20px;
        margin-left: -200px !important;
        /* position: absolute; */
        /* left: 0;
  top: 0;*/
        right: -21rem;
        left: 0;
    }

    .plan-child:first-child {
        margin-top: 110px;
    }

    .plan-side-row h1 {
        font-size: 30px;
        font-weight: 300;
        position: relative;
        margin-left: -22px;
    }

    footer {
        padding: 40px;
    }

    footer .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer h2 {
        position: relative;
        color: #D6E4E5;
        font-weight: 500;
        margin-bottom: 15px;
        margin-left: -19px;
        width: 238px;
    }

    .sci {
        margin-top: 20px;
        display: flex;
        margin-left: -53px;
    }

    footer .footer-container .sec {
        margin-right: -7px;
    }

    .quickLinks {
        position: relative;
        width: 25%;
        margin-left: 4px;
    }

    .contacting {
        width: calc(75% - 4px);
        margin-right: -120px !important;
    }

    .nav-links {
        display: block;
        flex-direction: column;
    }

    #e {
        display: block;
    }

    .show {
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        justify-content: center;
        background-color: #6ff5ff65;
        backdrop-filter: blur(10px);
        width: 400px;
        height: 500px;
    }
}