@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.nav {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(104, 104, 255);
  color: #fff;
  padding-bottom: 10px;
  top: 0;
  position: sticky;
  z-index: 1;
  box-shadow: 0 0 40px rgba(0, 0, 0, 834);
  flex-wrap: nowrap;
}
.userdetail{
  margin-top: 20px;
}
.userdetail h3{
  font-size: 20px;
  font-weight: 300;
}
.userdetail p{
  font-size: 15px;
  color: rgb(203, 221, 255);
}
.icon i{
  font-size: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin-right: -40px;
  position: relative;
}
 .nav-links ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  margin-top: 24px;
  list-style-type: none;
}

.nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.nav .logo h1 {
  font-weight: 300;
  font-size: 36px;
  margin-top: 17px;
}

.nav .buttons a {
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  margin-top: -190px;
  margin-bottom: 40px;
  border-radius: 4px;
  transform: translateY(30%);
  transition: 0.4s;
}

.nav .buttons a:hover {
  background-color: #fff;
  color: rgb(98, 118, 177);
  box-shadow: 0 0 40px rgba(174, 182, 255, 0.76);
  border-radius: 30px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  z-index: -1;
}


/*------- SideBar Section Starts Here -----------*/

.container .sidebar {
  text-align: center;
}

.sidebar h1 {
  font-size: 35px;
  font-weight: 300;
  margin-top: 20px;
}

.sidebar img {
  width: 350px;
}

/*------- Content Section Starts Here -----------*/

.container .content {
  margin: 0 12px 0 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* width: 1800px; */
  height: 800px;
}

.con2 .content {
  margin-top: 100px;
  text-align: center;
}

.con2 .content p {
  text-align: center;
  width: 600px;
}

.content img {
  width: 620px;
}

.container .content p {
  text-align: center;
  /* margin-top: 20px; */
}

.container .content h1 {
  margin-top: 20px;
  font-weight: 300;
}

.container .content button {
  padding: 10px 30px;
  background-color: #fff;
  color: black;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid #000;
}

/*------- Big Card Section Starts Here -----------*/

.big-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 30px 0 30px;
}

.big-card img {
  width: 400px;
}

.card-content {
  width: 500px;
  margin-left: 30px;
  text-align: center;
}

.card-content h1 {
  font-size: 36px;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

.card-content p {
  font-size: 17px;
}

/*------- Phone Section Starts Here -----------*/

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: rgb(104, 104, 255);
  color: #fff;
  padding: 30px;
  /* margin-bottom: 40px; */
}

.phone img {
  width: 400px;
  /* border-radius: 5px; */
}

.phone-content {
  width: 600px;
}

.phone-content h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}


.phone-content p {
  font-size: 17px;
  width: 500px;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
}

.testimonials img {
  width: 400px;
}

.courses-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.courses-offer .course {
  width: 350px;
  /* border-style: ; */
  border: 3px double rgb(104, 104, 255);
  padding: 30px 20px;
  margin: 20px;
  text-align: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 40px;
  margin-top: 40px;
}

.course h1 {
  font-size: 30px;
  font-weight: 300;
}

.course p {
  font-size: 14px;
}

.course button {
  padding: 10px 30px;
  background-color: rgb(104, 104, 255);
  border: none;
  outline: none;
  border: 5px;
  color: #fff;
}

.testimonials .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.crousal-card img {
  width: 400px;
}

.testimonial {
  width: 600px;
  margin-left: 40px;
}

.name {
  font-size: 40px;
}

.testimonial button {
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: rgb(104, 104, 255);
  color: #fff;
  border-radius: 6px;
  transition: 0.5s;
}

.testimonial button:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.contact {
  text-align: center;
  width: 400px;
}

.contact h1 {
  font-size: 35px;
  font-weight: 300;
  margin-top: 20px;
}

.crousal-card h1 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 20px;
}

.crousal-card .font-4 {
  font-size: 16px !important;
  margin-bottom: 10px !important;
}

.crousal-card {
  display: flex;
  align-items: center;
}

.class img {
  width: 400px;
}

.contact img {
  width: 400px;
}

.classdesc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  color: #fff;
  background-color: rgb(104, 104, 255);
}

.classdesc .img-of-desc img {
  width: 400px;
}

.desc-container {
  margin-top: 400px;
}

.classdesc .desc-content {
  width: 500px;
}

.desc-content h1 {
  font-size: 40px;
  font-weight: 300;
}

.desc-content p {
  font-size: 16px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, auto);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.services-child {
  width: 350px;
  text-align: center;
  padding: 10px;
  margin: 30px;
  border: 3px double rgb(98, 118, 177);
}

.services-child h1 {
  font-size: 30px;
  font-weight: 300;
}

.services-child p {
  font-size: 14px;
}

.heading h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 300;
  margin-top: 40px;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plan-side h1 {
  font-size: 36px;
  font-weight: 300;
  margin-left: -40px;
  margin-top: -50px;
}

.plan-side-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.plan-side-row .plan-child {
  width: 600px;
  margin-left: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.plan-side-row h1 {
  font-size: 37px;
  font-weight: 300;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background-color: rgb(104, 104, 255);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Poppins';
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
  border-top-left-radius: 100px;
  margin-left: -10px;
  margin-left: -10px;
  margin-left: -10px;
}

footer .footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer-container .sec {
  margin-right: 30px;
}

footer .footer-container .aboutus {
  width: 40%;
}

footer h2 {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-bottom: 15px;
}

footer h2::before {
  content: ' ';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: rgb(255, 139, 139);
}

footer .footer-container .aboutus p {
  color: #ffff;
}

footer .sci {
  margin-top: 20px;
  display: flex;
  margin-left: -30px;
}

footer .sci li {
  list-style-type: none;
}

footer .sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #ffff;
  color: #6868ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

footer .sci li a .fa-brands {
  /* color: #497174; */
  font-size: 20px;
}

footer .quickLinks {
  position: relative;
  width: 25%;
}

footer .quickLinks ul {
  margin-left: -30px;
}

footer .quickLinks ul li {
  list-style-type: none;
}

footer .quickLinks ul li a {
  color: #EFF5F5;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

footer .quickLinks ul li a:hover {
  color: #fff;
}

footer .contacting {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

footer .contacting .info {
  position: relative;
  margin-left: -30px;
}

footer .contacting .info li {
  display: flex;
  margin-bottom: 16px;
}

footer .contacting .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

footer .contacting .info li span {
  color: #fff;
}

footer .contacting .info li span a {
  color: #EFF5F5;
  text-decoration: none;
}

footer .contacting .info li span a:hover {
  color: #fff;
}

footer .heading {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}

.price-head {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 40px;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basiclevel {
  width: 400px;
  border: 2px solid #ccc;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 40px;
}

.intermediatelevel {
  width: 400px;
  margin-left: 30px;
  margin-bottom: 40px;
  border: 2px solid #ccc;
  cursor: pointer;
  transform: translateY(-5%);
}

.advancelevel {
  width: 400px;
  margin-left: 30px;
  margin-bottom: 40px;
  border: 2px solid #ccc;
  cursor: pointer;
}

.basiclevel:hover {
  transform: translateY(-5%);
  transition: 0.6s;
}

.intermediatelevel:hover {
  transform: translateY(5%);
  transition: 0.6s;
}

.advancelevel:hover {
  transform: translateY(-5%);
  transition: 0.6s;
}

.level {
  background-color: #6868ff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  color: #fff;
  font-size: 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
  border-bottom: 1px solid #6868ff;
}

.price h1 {
  font-size: 50px;
  font-weight: 200;
}

.time {
  position: absolute;
  left: 10px;
  background-color: #6868ff;
  padding: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.usd {
  position: absolute;
  right: 10px;
  background-color: #6868ff;
  padding: 10px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.work h1 {
  padding: 10px 30px;
  font-weight: 300;
  font-size: 20px;
  background-color: #6868ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.work ol {
  list-style-type: none;
}

.work ol li {
  margin-bottom: 5px;
}

.work ol li .fa-sharp {
  color: rgb(0, 83, 0);
  margin-right: 10px;
  font-size: 20px;
}

.fa-circle-xmark {
  color: rgb(255, 75, 75) !important;
}

.work button {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border: none;
  outline: none;
  background-color: #6868ff;
  color: #fff;
  margin-bottom: 10px;
}